.bx-composite-btn {
    background: url(/bitrix/images/main/composite/sprite-1x.png) no-repeat right 0 #e94524;
    border-radius: 15px;
    color: #ffffff !important;
    display: inline-block;
    line-height: 30px;
    font-family: "Roboto", sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    padding: 0 42px 0 17px !important;
    vertical-align: middle !important;
    text-decoration: none !important;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .bx-composite-btn {
        background-image: url(/bitrix/images/main/composite/sprite-2x.png);
        background-size: 42px 124px;
    }
}

.bx-composite-btn-fixed {
    position: absolute;
    top: -45px;
    right: 15px;
    z-index: 10;
}

.bx-btn-white {
    background-position: right 0;
    color: #fff !important;
}

.bx-btn-black {
    background-position: right -31px;
    color: #000 !important;
}

.bx-btn-red {
    background-position: right -62px;
    color: #555 !important;
}

.bx-btn-grey {
    background-position: right -93px;
    color: #657b89 !important;
}

.bx-btn-border {
    border: 1px solid #d4d4d4;
    height: 29px !important;
    line-height: 29px !important;
}

.bx-composite-loading {
    display: block;
    width: 40px;
    height: 40px;
    background: url(/bitrix/images/main/composite/loading.gif);
}

.my-caption {
    position: relative;
    text-align: center;
}
.conteiner-item-room {
    height: 400px;
    position: relative;
    margin: 0px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    width: 33%;
}
.conteiner-group-room {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.conteiner-relative {
    position: relative;
}
.conteiner-main-rooms {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1140px;
}
.send-request-conteiner-input {
    border-radius: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    font-weight: 300;
    height: 47px;
    width: 217px;
    background: none !important;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.send-request-conteiner>div {
    background-color: #595e6a;
    padding: 10px;
    color: #fff;
    position: relative;
}
.send-request-conteiner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1040px;
    background: #f9f9f9;
    text-shadow: none;
    border-radius: 15px;
    z-index: 10;
    padding: 20px;
}

.send-request-conteiner-main {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0px;
}
.send-request-conteiner-main-padding {
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.5;
    background: Black;
}
#main-conteiner {
    z-index: 1;
}
.send-request-conteiner-values {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}
.send-request-conteiner-button {
    background-color: #fff;
    border: none;
    color: #2da9e9;
    border: 1px solid #2da9e9;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    line-height: 45px;
    min-width: 174px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.send-request-conteiner-caption {
    position: relative;
    color: white;
    font-size: 24px;
    margin-bottom: 25px;
}
.send-request-conteiner-button-conteiner {
    position: relative;
}
.send-request-conteiner-values textarea {
    border-radius: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    font-weight: 300;
    height: 47px;
    margin: 0;
    width: 217px;
    background: none !important;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-top: 14px;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}
.send-request-conteiner-close {
    color: white;
    font-weight: 900;
    position: absolute;
    right: -25px;
    top: -20px;
    z-index: 10;
    background-image: url(http://www.cidk.ru/images/advices/close-button.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
.buttonRoomOne {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    padding: 0 21px;
    font-size: 14px;
    font-weight: 700;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    height: 40px;
    line-height: 41px;
    background: none;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid #2da9e9;
}
.buttonRoomOne :hover {
    color: #fff;
    background-color: #2da9e9;
}
