@model Realtors.Models.GeneralPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SectionHead
{

}
@section SectionContent
{ 
    <div class="conteiner-relative">
        @Html.Partial("RoomsPageView", Model.RoomsPage)
    </div>
}