<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    internalLogFile="nlog_internal_log.txt"
    internalLogLevel="Error"
    throwExceptions="false"
    autoReload="true">
  <include file="${basedir}\NLogParams.config"/>
  <targets async="true">
    <target
        name="error_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="false"
        filename="${logDirectory}\${appShortName}_errors.log"
        xsi:type="File"
        layout="[${logger}]: ${date:format=yyyy.MM.dd.HH.mm.ss} ${message} ${exception:
            innerFormat=Type, Method, ToString, Message, StackTrace:
            maxInnerExceptionLevel=100:
            format=Type, Method, ToString, Message, StackTrace}"/>
  
    <target
      name="info_log"
      archiveEvery="Hour"
      deleteOldFileOnStartup="false"
      filename="${logDirectory}\${appShortName}_info.log"
      xsi:type="File"
      layout="[${logger}]: ${date:format=yyyy.MM.dd.HH.mm.ss} ${message} ${exception:
            innerFormat=Type, Method, ToString, Message, StackTrace:
            maxInnerExceptionLevel=100:
            format=Type, Method, ToString, Message, StackTrace}"/>
  </targets>

  <rules>
    <!-- лог ошибок -->
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error_log" />
    <logger name="MedInfoCenter.Hospital.*" minlevel="Error" maxlevel="Fatal" writeTo="error_log" />
    <logger name="Hospital*"  minlevel="Error" maxlevel="Fatal"  writeTo="error_log" />
    <logger name="MedInfoCenter.Hospital.*"  minlevel="Error" maxlevel="Fatal"  writeTo="error_log" />
    <logger name="Mic.*"  minlevel="Error" maxlevel="Fatal"  writeTo="error_log" />
    <logger name="*" level="Info" writeTo="info_log" />
  </rules>
</nlog>