@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SectionHead
{

}
@section SectionContent
{
    <div class="conteiner-main-content">
        <div>
            <pre>awhidbnjlakmlwd;ibamwpa[ojnwd
            avwa
            dwav
            w'd
            awcda
            wcd
            adw
            acwd
            a 
            cwda
            wdac
            wdca
            wdca
            wdc
            adw
            ca
            wdca
            wdc
            a</pre>
        </div>
    </div>
}
