@model Realtors.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SectionHead
{

}
@section SectionContent
{
    Авторизация
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "FromFORM" }))
    {
        <div class="validation-summary-errors" data-valmsg-summary="true" style="color:#ea2b30; margin-left: 50px;margin: 1px auto;    font-size: 16px;
    width: 300px; text-align: left;">
            @Html.ValidationSummary()
        </div>
        <div style="margin: 1px auto;
    width: 400px;">
            <div class="panel-body">
                <div>
                    <label for="Login">Имя пользователя:</label>
                    @Html.TextBoxFor(m => m.UserName, new
                    {
                        id = "Login",
                        @class = "input_first input-validation-error form-group form-control",
                        data_val_required = "Пожалуйста, введите логин",
                        data_val = "true",
                        style = "    font-size: 16px;"
                    })

                </div>
                <div>
                    <label for="Password">Пароль:</label>
                    @Html.PasswordFor(m => m.Password, new
                    {
                        id = "Password",
                        @class = "input_first input-validation-error form-group form-control",
                        data_val_required = "Пожалуйста, введите пароль",
                        data_val = "true",
                        style = "    font-size: 16px;"
                    })
                </div>
                <div>
                    <input type="submit" value="Войти" id="Enter" class="btn form-group btn-primary pull-right" style="" />
                </div>
            </div>
        </div>

    }
}